/*** (B) SETTINGS ***/
// Database settings 
// change these to your own
// Do a copy of this file without the .example as namefile
define('DB_HOST', 'strixerp.gotdns.com');
define('DB_NAME', 'pos_development');
define('DB_PORT', '3306');
define('DB_CHARSET', 'utf8');
define('DB_USER', '-------'); // remember // anibal
define('DB_PASSWORD', '-------'); // ask // man***